# Web interface
streamlit>=1.22.0

# Data processing & berekeningen
numpy>=1.24.0
# scipy>=1.10.0 (niet nodig, eigen implementaties gebruikt)

# Visualisatie
plotly>=5.14.0
kaleido>=0.2.1

# Rapportage
reportlab>=3.6.12
